<%= render "main_menus/hum" %>

<div class="contents rows">
  <p><%= @nickname %>さんの投稿一覧</p>
  <%if @main_menus.present? %>
    <div class='user_main'>
      <div class='contents row'>
        <div class='user_main_menu_list'>
          <% @main_menus.each do |main_menu| %>
            <%= link_to main_menu_path(main_menu.id) do %>
              <div class='user_menu'>
                  <%= image_tag main_menu.image, class: 'user_main_menu_image' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="none-menu">
      <p>投稿がありません</p>
    </div>
  <% end %>
</div>
  <div class="likes-head">
    <p><span class="material-icons heart">favorite</span>お気に入り</p>
  </div>
<div class="likes-main_menu">
  <% @like_main_menus.each do |main_menu| %>
    <%= image_tag main_menu.image, {class:"link-like-image"} %>
  <% end %>
</div>

