<%= render "main_menus/hum" %>

<div class="contents rows">
  <p><%= @nickname %>さんの投稿一覧</p>
    <div class='user_main'>
  <div class='contents row'>
    <div class='main_menu_list'>
      <% @main_menus.each do |main_menu| %>
        <%= link_to main_menu_path(main_menu.id) do %>
          <div class='user_menu'>
            <div class='user_main_menus_header'>
              <div class='user_main_menus_name'>
                <%= main_menu.name %>
              </div>
              <div class='user_main_menus_kcal'>
                <%= main_menu.kcal %>kcal
              </div>
            </div>
            <div class='user_main_menus_img'>
              <%= image_tag main_menu.image, class: 'main_menu_image' %>
            </div>
            <div class='user_main_menus_footer'>
              <div class='main_menu_user_name'>
                <span>by</span><%= main_menu.user.nickname %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>  
  </div>
</div>
</div>

