<%= form_with(model: @main_menu, local: true) do |f| %>
      <%= render 'error.messages', model: f.object %> 
      <div class="field">
        <%= f.label :name , "料理名" %>
        <%= f.text_field :name, placeholder: "親子丼" %>
      </div>
      <div class="field">
        <%= f.label :kcal , "カロリー" %>
        <%= f.text_field :kcal, placeholder: "400" %>
      </div>
      <div class="field">
        <label class="form-image">
        <%= f.label :image , "画像" %>
        <%= f.file_field :image, class: 'hidden' %>
    　　</label>
      </div>
      <div class="field">
        <%= f.label :ingredient , "材料" %>
        <%= f.text_area :ingredient, placeholder: "白菜 1/2" %>
      </div>
      <div class="field">
        <%= f.label :expiration , "説明" %>
        <%= f.text_area :expiration, placeholder: "とろとろ卵の甘じょっぱい親子丼" %>
      </div>
      <div class="field">
        <%= f.label :recipe , "レシピ" %>
        <%= f.text_area :recipe, placeholder: "鍋と玉ねぎを入れる" %>
      </div>
<<<<<<< Updated upstream
      <%= f.submit "投稿する" %>
=======
      <%= f.submit "投稿する", :class => 'submit_btn' %>
      <div id="image-list"></div>
>>>>>>> Stashed changes
<% end %>