
<<<<<<< HEAD
=======
<%= render "shared/header" %>

>>>>>>> 4ee991be70256e241cb519f2030fb366408bc9b2
<%= render "hum" %>
<%= render "suggest" %>
<p class='past_menu'>投稿一覧</p>
<%= render "dummy" %>
<%= render "main_menu"%>
<<<<<<< HEAD
<<<<<<< Updated upstream
=======

>>>>>>> 4ee991be70256e241cb519f2030fb366408bc9b2
<%= link_to(new_main_menu_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'sp.png' , size: '28x32' ,class: "purchase-btn-icon" %>
=======

<% if user_signed_in? %>
  <%= link_to(new_main_menu_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
    <%= image_tag 'sp.png' , size: '28x32' ,class: "purchase-btn-icon" %>
  <% end %>
>>>>>>> Stashed changes
<% end %>


