
<%= render "shared/header" %>

<%= render "hum" %>
<%= render "suggest" %>
<p class='past_menu'>投稿一覧</p>
<%= render "dummy" %>
<%= render "main_menu"%>

<%= link_to(new_main_menu_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'sp.png' , size: '28x32' ,class: "purchase-btn-icon" %>
<% end %>


