<!DOCTYPE html>
<html>
  <head>
    <title>MenuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< Updated upstream

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
=======
    <link rel="stylesheets" href="style.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap" rel="stylesheet">
>>>>>>> Stashed changes
  </head>

  <body>
    <%= yield %>
  </body>
</html>
